<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <clear />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="decuria" value="https://pkgs.dev.azure.com/decuria/_packaging/decuria/nuget/v3/index.json" />
    <add key="detectia" value="https://pkgs.dev.azure.com/decuria/_packaging/detectia/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <ContosoFeed>
      <!-- Username can really be anything non-empty; Azure Artifacts ignores it. -->
      <add key="Username"           value="anything" />
      <!-- Personal-Access-Token from Azure DevOps (or your feed’s password) -->
      <add key="ClearTextPassword"  value="9g5k4bBkDsVMLnfc0FHte6boKYydh1UXxQ5BUzAL0qoOITV3wZHXJQQJ99BEACAAAAAQhTDQAAASAZDO3cop" />
    </ContosoFeed>
  </packageSourceCredentials>
</configuration>